body{ 
    margin: 5%;
    border: 1px solid green;
}

header{
    font-size: 30px;
}

.title, header{
    font-family: 'Itim';
}
.title{
    margin-top: 20px;
}

/* .w3-card{
    margin-left: 15%;
    margin-right: 15%;
} */